* {
  font-family: "Share Tech Mono", monospace;
}

body {
  background-image: url(assets/img/bg.jpg);
}

.boardContainer {
  text-align: center;
}

#board,
.boardInfo {
  max-width: 500px;
  margin: 80px auto;
}

#board {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

#start,
.boardInfo {
  font-size: 25px;
  margin: 1.5rem 0;
}

#gameOver {
  display: none;
  margin-top: 1.4rem;
  font-size: 1.3rem;
  color: white;
}

.boardInfo {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

#start {
  font-weight: bold;
  background-color: red;
  text-shadow: -1px -1px black, 1px 1px white;
  color: whitesmoke;
  border-radius: 7px;
  box-shadow: 0 0.2em gray;
  cursor: pointer;
}

#scoreContainer {
  font-size: 1.4rem;
  color: white;
}

#scoreBoard {
  display: inline-flex;
  font-weight: bold;
}

.square {
  aspect-ratio: 1;
}

.emptySquare {
  background-color: #6ab04c;
}

.headSnakeSquare {
  background-color: #6ab04c;
  background-image: url(assets/img/snake_head.png);
  background-repeat: no-repeat;
  background-size: 130px 130px;
  background-position: 50% 45%;
}

.bodySnakeSquare {
  background-color: #6ab04c;
  background-image: url(assets/img/snake_body.jpg);
  background-repeat: no-repeat;
  background-size: 130px 130px;
  background-position: 50% 45%;
}

.foodSquare {
  background-color: #6ab04c;
  background-image: url(assets/img/apple.png);
  background-repeat: no-repeat;
  background-size: 60px 60px;
  background-position: 50% 45%;
}
